@import '~antd/dist/antd.less';

@body-background: #f5f5fa;

@layout-header-background: transparent;

@primary-color: #155ed4;
@btn-border-radius-base: 12px;

@menu-item-color: #606066;
@menu-highlight-color: #17171a;
@menu-bg: transparent;

@badge-height: 16px;
@badge-height-sm: 12px;
@badge-font-size: 10px;
@badge-font-size-sm: 10px;
@badge-font-weight: 600;
@badge-status-size: 6px;
@badge-text-color: #fff;
@badge-color: #f20028;

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

#root, .App {
    height: 100%;
}

.ant-menu-submenu-popup {
    .ant-menu.ant-menu-sub.ant-menu-vertical {
        border-radius: 24px;

        li > span {
            color: #939399;
            line-height: 1.5;
            margin-right: 100px;
        }

        li:hover > span {
            color: #17171a;
        }
    }
}
